{% extends "layout.html" %}
{% load i18n %}
{% block content %}
   <h1 class="my-4"> {{ header }}</h1>
    <table class = "table table-striped">
		<thead>
        <tr>
			<th>ID</th>
			<th>Имя пользователя</th>
			<th>Полное имя</th>
			<th>Дата создания</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
        {% for user in users %}
            <tr>
                <td> {{user.id}}</td>
                <td> {{user.username}}</td>
                <td> {{user.get_full_name}} </td>
                <td> {{user.date_joined}}</td>
                <td>
                    <a href = "{% url "user_update" user.id %}">{% translate "Изменить" %}</a><br>
                    <a href = "{% url "user_delete" user.id %}">{% translate "Удалить" %}</a>
                </td>
            </tr>
        {% endfor %}
		</tbody>
    </table>
{% endblock %}
