{% load django_bootstrap5 i18n %} {% bootstrap_css %} {% bootstrap_javascript %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
</head>
<body>
{% include "header.html" %}

<div class="container wrapper flex-grow-1" bis_skin_checked="1">
    {% bootstrap_messages %}
    {% block content %} {% endblock %}
</div>

<footer>
    <div class="container my-5 pt-4 border-top" bis_skin_checked="1">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
    </div>
</footer>
</body>
</html>
